:root {
    --default-color : rgb(148, 145, 145)
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header
{   
    display: flex;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    height: 100px;
    width: 100%;

    justify-content: center;
    align-items: center;
}


h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

li 
{
    margin-bottom: 10px;
}


#verbs
{
    width: 600px;
    height: auto;

    background-color: var(--default-color);
    color: black;

    margin: auto;
    margin-top: 50px;

    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 5px;

    border-radius: 20px;
}


.list
{
    display: none;
}